<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.aptasystems.vernamcipher"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aptasystems.vernamcipher.MainActivity"/>
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aptasystems.vernamcipher.MainActivity"/>
        </activity>
        <activity
            android:name=".AddSecretKeyActivity"
            android:label="@string/title_activity_add_secret_key"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aptasystems.vernamcipher.MainActivity"/>
        </activity>
        <activity
            android:name=".WriteMessageActivity"
            android:label="@string/title_activity_write_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aptasystems.vernamcipher.MainActivity"/>
        </activity>
        <activity
            android:name=".ReadMessageActivity"
            android:label="@string/title_activity_read_message"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ImportSecretKeyActivity"
            android:label="@string/title_activity_import_secret_key"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="Vernam Cipher Key Import">
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:scheme="file"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DecryptMessageActivity"
            android:label="@string/title_activity_decrypt_message"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="Vernam Cipher Decryption">
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:scheme="file"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
